*{
    padding: 0;
    margin: 0;
}
body{
    margin: 5px;
    font-size: large;
    font-family: 'Times New Roman', Verdana, Geneva, Tahoma, sans-serif, serif;
}

#box-1{
    border: 2px solid black;
    margin: 10px;
}
#box-2{
    /* border: 5px solid red; */
    margin: 10px;
}
#img{
    margin: 10px;
}
#heading{
    padding-top: 10px;
    padding-left: 10px;
}
#list{
    margin: 15px 0px 0px 20px;
    padding:0px 0px 10px 10px;
}
